<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/cdn.tailwindcss.com_3.3.3.js"></script>
  <script src="/js/cdn.jsdelivr.net_npm_chart.js@4.3.3_dist_chart.umd.min.js"></script>
</head>